@model Phones
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoPath = "~/images/phones/" + (Model.Image ?? "noimage.png");
}

<h1 class="text-center">Checkout</h1>

<div class="row">
    <div class="col-lg-6">
        <img style="height:500px" src="@photoPath" asp-append-version="true" />
    </div>
    <div class="col-lg-6">
        <h1 class="pb-md-5 pt-md-3">@Html.DisplayFor(model => model.Brand) @Html.DisplayFor(model => model.Model)</h1>
        <form method="post">
            <div class="form-group row">
                <h5><label class="col-form-label col-sm-2">Quantity</label></h5>
                <input type="number" value=1 class="form-control col-sm-2">
            </div>
        </form>
        <h3 class="align-text-bottom py-xl-5 ">@Html.DisplayFor(model => model.Price) </h3>
        <form method="post" class="row py-xl-5">
            <a asp-action="Details" asp-route-id="@Model.ID" class="btn btn-info btn-lg mr-4"> << Return</a>
            <button type="submit" class="btn btn-success btn-lg" onclick="return alert('You will be redirected to the payment portal')">Purchase</button>
        </form>
        
    </div>
</div>
