@model PhoneEditViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoPath = "~/images/phones/" + (Model.ExistingPhotoPath ?? "noimage.png");
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <img style="height:500px" src="@photoPath" asp-append-version="true" />
        </div>
        <dl class="col-md-6 row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ManufactureDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ManufactureDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
    </div>
    
    <form asp-action="Delete">
        <div class="col-sm-10">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            <a class="btn btn-primary" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>
