@model EC2_1908764.Models.Phones

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoPath = "~/images/phones/" + (Model.Image ?? "noimage.png");
}

<h1 class="text-center">Details</h1>
<hr />
<div class="row">
    <div class="col-lg-6">
        <img style="height:500px" src="@photoPath" asp-append-version="true" />
    </div>
    <div class="col-lg-6">
        <h1 class="pb-md-5 pt-md-3">@Html.DisplayFor(model => model.Brand) @Html.DisplayFor(model => model.Model)</h1>
        <h5 class="pt-md-5">
            @Html.DisplayNameFor(model => model.ManufactureDate): @Html.DisplayFor(model => model.ManufactureDate) <br />
            <h5 class="py-md-4">@Html.DisplayNameFor(model => model.Quantity): @Html.DisplayFor(model => model.Quantity)</h5>
        </h5>
        <h3 class="align-text-bottom py-xl-5 ">@Html.DisplayFor(model => model.Price)</h3>
        <a asp-action="Index" class="btn btn-info btn-lg"> << Return</a>
        <a asp-action="Checkout" asp-route-id="@Model.ID" class="btn btn-success btn-lg">Purchase</a>
    </div>
</div>
