@model IEnumerable<EC2_1908764.Models.Phones>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Catalogue</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-deck">
    @foreach (var item in Model)
    {
        var photoPath = "~/images/phones/" + (item.Image ?? "noimage.png");
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card border-warning m-3">
                <a asp-action="Details" asp-route-id="@item.ID">
                    <img class="card-img-top" style="" src="@photoPath" asp-append-version="true" />
                </a>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Brand) @Html.DisplayFor(modelItem => item.Model)</h5>
                    <h4 class="text-right font-weight-bold card-text">@Html.DisplayFor(modelItem => item.Price)</h4>
                </div>
                <div class="card-footer text-right">
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info card-link">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger card-link">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

